# Byte-compiled / optimized / DLL files
__pycache__/
# Distribution / packaging
.Python
build/
lib/
/.idea/
.idea
.idea/
.pytest_cache/
cover/

# Django stuff:
local_settings.py

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
env/
env